<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="scripts/anime-master/lib/anime.min.js"></script>

		<meta charset="utf-8"></meta>
		<link rel="stylesheet" href="styles/main_style.css"></link>
		<title>BookMe</title>

	</head>
    <body>
        <div>
            <h3 >"login" : {</h3>
            <br>


            <form action="" method="post" action=>
              
                <div class="form-group">
                    <label for="name">"username/mail":{</label>
                    <input type="text" class="form-control" id="usernameLog" name="username" placeholder="username/mail">
                </div>
                <div class="form-group">
                    <label for="surname">"password":{</label>
                    <input type="password" class="form-control" id="passwordLog" name="password" placeholder="password">
                </div>
            </form>
            <input type="submit" name="submit" id="submit" value="SEND" >
        </div>
        <div> 
            <a href="recuperacion">forgott password?</a>
        </div>
</body>