<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="scripts/anime-master/lib/anime.min.js"></script>

		<meta charset="utf-8"></meta>
		<link rel="stylesheet" href="styles/main_style.css"></link>
		<title>BookMe</title>

	</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="main.html">Welcome</a></li>
                <li><a href="#">Who are we?</a></li>
                <li><a href="#">The app</a></li>
                <li><a href="LogandReg.html">Login or Register</a></li>
                <li><a href="#">Download App</a></li>
            </ul>
        </nav>
        <div id="myname-title">
            <h2 id="myname-name">BooKME &ensp;</h2>
        </div>
    </div>
    <div>
        <a href="log.html"><img src="log.png" alt="log"></a>
        <p>or</p>
        <a href="reg.html"><img src="reg.png" alt="reg"></a>
    </div>
</body>