<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<!--<script src="scripts/anime-master/lib/anime.min.js"></script>   -->
        <script src="{{ url_for('static',filename='scripts/reg.js') }}" ></script>

		<meta charset="utf-8"></meta>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/reg.css') }}" ></link>
		<title>BookMe</title>
        
    <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet" />
	</head>
    <body>
    <div class="todocompleto">
      <div class="v142_103">

        
        <span class="v142_118">BooKME</span>
        <span class="v142_119">
            <h3>{</h3>
                <h3>&nbsp "register" : {</h3>
                    <h3 class="reg">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"user" : {</h3>
            <div class="forms">
            <form action="" method="post" id="formulario" action=>

             
              <div class="form-group">
                  <label for="name" id="nameid">"name":{</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="name">
              </div>
              <div class="form-group" >
                  <label for="surname" id="surnameid">"surname":{</label>
                  <input type="text" class="form-control" id="surname" name="surname" placeholder="surname">
              </div>
              <br>
              <br>
              <div class="form-group">
                  <label for="username" id="usernameid">"username":{</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="username">
              </div>
              <div class="form-group">
                  <label for="birthdate" id="birthid">"birth":{</label>
                  <input type="date" class="form-control" id="birthdate" name="birth" placeholder="birth" value="1995-01-01">
              </div>
              <div class="form-group" >
                  <label for="organization" id="organizationid">"Organization":{</label>
                  <input type="text" class="form-control" id="organization" name="organization" placeholder="organization">
              </div>
                <div class="form-group">
                    <label for="contry" id="country">"country":{</label>
                    <select name="country" id="countryId">
                        <option value="1">Mexico </option>
                        <option value="2">USA</option>
                        <option value="3">Canada</option>
                        <option value="4">Spain</option>
                        <option value="5">France</option>
                        <option value="6">Germany</option>
                        <option value="7">Italy</option>
                        <option value="8">England</option>
                        <option value="9">Brazil</option>
                        <option value="10">Argentina</option>
                        <option value="11">Chile</option>
                        <option value="12">Colombia</option>
                        <option value="13">Peru</option>
                        <option value="14">Venezuela</option>
                        <option value="15">Ecuador</option>
                        <option value="16">Uruguay</option>
                        <option value="17">Paraguay</option>
                        <option value="18">Bolivia</option>
                        <option value="19">Costa Rica</option>
                        <option value="20">El Salvador</option>
                        <option value="21">Guatemala</option>
                        <option value="22">Honduras</option>
                        <option value="23">Nicaragua</option>
                        <option value="24">Panama</option>
                        <option value="25">Dominican Republic</option>
                        <option value="26">Puerto Rico</option>
                        <option value="27">Cuba</option>
                        <option value="28">Jamaica</option>
                        <option value="29">Haiti</option>
                        <option value="30">Trinidad and Tobago</option>
                        <option value="31">Barbados</option>
                        <option value="32">Saint Lucia</option>
                        <option value="33">Saint Vincent and the Grenadines</option>
                        <option value="34">Grenada</option>
                        <option value="35">Saint Kitts and Nevis</option>
                        <option value="36">Antigua and Barbuda</option>
                        <option value="37">Bahamas</option>
                        <option value="38">Belize</option>
                        <option value="39">Dominica</option>
                        <option value="40">other</option>
                    </select>
                </div>
              <div class="form-group" >
                  <label for="email" id="emailid">"mail":{</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="email">
              </div>
              <div class="form-group">
                  <label for="age" id="ageid">"ocupation":{</label>
                  <input type="text" class="form-control" id="age" name="age" placeholder="ocupation">
              </div>
              <br>
              <br>
              <br>
              <div class="form-group">
                  <label for="password" id="passwordid">"password":{</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="// 8 length password">
              </div>
              <div class="form-group">
                  <label for="password2" id="passwordid2">"password":{</label>
                  <input type="password" class="form-control" id="password2" name="password" placeholder="password">
              </div>
          </form>
            <br>    
            <h3>},</h3>
            
        </div>
        <h3>}</h3>
        </span>
          
        <div class="contenedor_boton">
        <button type="submit" class="btn btn-primary" id="botonenvio">SEND</button>
       
    </div>
    <div  class="contenedor_terminos">
        <a href="terminos.html">Terminos y condiciones</a>

    </div>   
    </div>
</body></html> <br/><br/> 