<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BookMe</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    
    <script src="{{ url_for('static',filename='scripts/ticketWithQr.js') }}"></script> " 
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/ticketWithQr.css') }}">
   
    <script type="text/javascript">
        var hardW = {{HRDWR|tojson}};
        var softW = {{SFTWR|tojson}};
        var salas = {{ROOM|tojson}};

    </script>

</head>
<body>
    <div id="imagenes">
        <div id="qrCode">
        </div>
        <div id="profile">
        </div>  
    <div id="barras">
        <img src="codigodebarras.png">
    </div>
    <div id="ticketsid">
        
    </div>
    <div id="texto">
        <p>Confirmed</p>
    </div>
    <div id="datosTicked">
        <div id="datosTicked">

        </div>
        <button>
            <a href="#" >EDIT </a>
        </button>
        <div id="diaTicket" class="datosTicked">
        </div>
    </div>
    <div id=dias>
        
    </div>
</body>

</html>