<html>
    <head>
        <!-- Chivo regular font -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Chivo&display=swap" rel="stylesheet">

        <style>

            th{
                height: 33vh;
                width: 330vw;
            }

			th p{
				display 	: flex;
				flex-direction 	: row;
				justify-content	: center;
			}
			
			#bme-title{
				font-size : 150%;
			}
			#verification-info{
				font-size : 80%;
			}

			#verify-button img {
				width		: 319px;
				height		: 130px;
			}
		</style>

    </head>
    <body>
       <table>
        <tr>
            <th><p> </p></th>
            <th><p id="bme-title" style="font-family: 'Chivo', sans-serif;">BookMe</p></th>
            <th><p> </p></th>
        </tr>
        <tr>
            <th><p> </p></th>
            <th>
                <p id="verification-info" style="font-family: 'Chivo', sans-serif;">Click the following button to verify your account. XD</p>
                <a id="verify-button" id="#">
                    <img src="https://raw.githubusercontent.com/H3cth0r/BookMeWeb/main/server/static/resources/verifyButtonMail.png">
                </a>
            </th>
            <th><p> </p></th>
        </tr>
        <tr>
            <th><p> </p></th>
            <th><p> </p></th>
            <th><p> </p></th>
        </tr>
       </table> 
    </body>
</html>
